.header
{
background: #CDBA96;
color:#787878	;
text-align: center;
padding:10px;
border-radius: 4px;
position: fixed;
width:100%;
}
input[type=text],input[type=password],input[type=number],input[type=date],input[type=email]
{
width:50%;
height: 23px;
}
.col-sm-12
{
margin: 10px;
}
.Content
{
border:1px solid #D1D1D1;
overflow: hidden;
padding-top: 10px;
background-color: #EED5D2;
color:#8B7765;
}
button
{
padding:4px 10px 4px 10px;
}
.col-md-0 
{
display: inline-flex;
margin-left: 0px;
width:600px;
}
.container{
width:1000px;
}


